footer {
    background: #2F303A;

}
h1 {
    font-family: 'Roboto', sans-serif;
}
body {
    letter-spacing: 0.03em;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #212121;
    font-family: 'Roboto', sans-serif;
}
p {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p {
margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
width: 1200px;
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
}
.header-box {
    display: flex;
    align-items: center;
}





/* Text-color */

:root {
    --text-color-1: #212121
}
:root {
    --text-color-2: #FFFFFF
}
:root {
    --text-color-3: #2196F3
}
:root {
    --text-color-4: #000000
}
:root {
    --text-color-5: #757575
}


/*color*/
:root {
    --color-1: #2196F3;
}
:root {
    --color-2: #EEEEEE
}
:root {
    --color-3: #ECECEC
}


/*BackGround-color*/

:root {
    --background-color-1: #F5F4FA
}
:root {
    --background-color-2: #2F303A
}
:root {
    --background-color-3: #FFFFFF
}

/* Button */
.button-1,.btn-portfolio-1 {
display: block;
margin: 0 auto;
}
/*section*/
.section-title-1, .section-title-2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  

  .hero {
background-color: #2F303A;
text-align: center;
padding: 200px 0;
  }
.main-content {
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-title {
width: 700px;
margin: 0 auto;
margin-bottom: 30px;

font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF
}

.hero-button {
    padding: 10px 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 4px
     rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--color-1);
    color: var(--text-color-4)

} 
.hero-button:hover, .hero-button:focus {
    color: #FFFFFF;
    background-color: var(--text-color-3);
}


.web-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.83;
    letter-spacing: 0.03em;
    color: var(--text-color-3)
}
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
}
.navigation {
    margin-left: 95px;
}
.adress-list {

}
.sub-list {
    list-style: none;
    display: flex;
column-gap: 30px;
padding-top: 100px;
}
.sub-list .item {
}
.work-list {
    list-style: none;
    display: flex;
    gap: 30px;
}
.work-list .working {

}
.job-list {
    background-color: var(--background-color-1);
    padding-bottom: 100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
.job-list .jobs {
    margin-left: 5px;
margin-right: 10px;
}
.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-list .portfolio-work {
    margin-left: 10px;
    margin-right: 5px;
}




.studio-1 {
padding-top: 32px;
padding-bottom: 32px;
display: inline-block;
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121
}
.studio-1:hover .studio-1:focus {
    color: var(--text-color-3)
}
.current {
    color: var(--text-color-3);
}

.portfolio-1 {

text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121
}
.portfolio-1:hover .portfolio-1:focus {
    color: var(--text-color-3)
}
.current {
    color: var(--text-color-3);
}

.contacts-1 {
    text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121
}
.contacts-1:hover .contacts-1:focus {
    color: var(--text-color-3)
}
.current {
    color: var(--text-color-3);
}

.mail {

text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575
}
.mail:hover .mail:focus{
    color: var(--text-color-3)
}


.tel {

text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575
}
.tel:hover .tel:focus{
    color: var(--text-color-3)
}


.logo-link .footer-logo {

}
.logo-link {
    color: var(--text-color-3)
}
.footer-logo {
    color: #FFFFFF;
}
.logo {
    color: #000000;
}
.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text-1 {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;  
    color: #757575;
}
.text-2 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.text-3 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.text-4 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.section-title-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.work {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.work-1 {
    margin-right: 30px;
    margin-bottom: 190px;
    margin-top: 50px;
}
.work-2 {
    margin-right: 30px;
    margin-bottom: 190px;
    margin-top: 50px;
}
.work-3 {
    margin-right: 30px;
    margin-bottom: 190px;
    margin-top: 50px;
}
.section-title-2 {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    
}


.pic-team-1 {
    background: url(4853);
    border-radius: 0px;
}
.pic-team-2 {
 
    background: url(5844);
    border-radius: 0px;
}
.pic-team-3 {
  
    background: url(16166);
    border-radius: 0px;
}
.pic-team-4 {
  
    background: url(2968);
    border-radius: 0px;
}


.team-name-1 .team-name-2 .team-name-3 .team-name-4 {
    display: flex;
    flex-wrap: wrap;
}
.teams {
    margin-top: 30px;
}
.job-name-1 .job-name-2 .job-name-3 .job-name-4 {
    display: flex;
    flex-wrap: wrap;
}
.names {
    margin-top: 10px;
}

.teams .names {
    
    background-color: #FFFFFF;
}

.Team {
    background: #F5F4FA;

}

.team-name-1 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-name-2 {

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.team-name-3 {

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.team-name-4 {

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.job-name-1 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.job-name-2 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.job-name-3 {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.job-name-4 {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;

}

.list {
    margin-top: 125px;
}

.info {

background: #2F303A;
}
.navig {

}


.mail-1 {
    text-decoration: none;
color: #757575;
}
.mail-1:hover,.mail-1:focus {
    color: var(--text-color-3)
}


.tel-1 {
    text-decoration: none;
color: #757575;
}
.tel-1:hover,.tel-1:focus {
    color: var(--text-color-3)
}


.adress-1 {

    color: #FFFFFF;
    text-decoration: none;
}
.adress-1:hover, .adress:focus {
    color: var(--text-color-3)
}

/*======PORTFOLIO======*/

.studio-2 {

padding-top: 20px;
padding-bottom: 20px;
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121
}
.studio-2:hover, .studio-2:focus {
    color: var(--text-color-3)
}


.portfolio-2 {

    text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121
}
.portfolio-2:hover, .portfolio-2:focus {
    color: var(--text-color-3)
}


.contacts-2 {

    text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121
}
.contacts-2:hover, .contacts-2:focus {
    color: var(--text-color-3)
}


.mail-2 {
    text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.mail-2:hover, .mail-2:focus {
    color: var(--text-color-3)
}


.tel-2 {

    text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575
}
.tel-2:hover, .tel-1:focus{
    color: var(--text-color-3)
}

/*=====BTN-LIST=====*/
.btn-list { 
    margin-top: 50px;
column-gap: 8px;
margin-bottom: 50px;
    list-style: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.btn-port {
    background-color: var(--background-color-3);
    color: var(--text-color-4);
    padding: 6px 22px;
    border-radius: 4px;
}


.btn-portfolio {
    background: #F5F4FA;
    border-radius: 4px;
cursor: pointer;

}
.btn-portfolio:hover, .btn-portfolio:focus {
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--text-color-2);
    background-color: var(--text-color-3)
}



.portfolio-work-1 {

}
.portfolio-title-1 {

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-name-1 {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-2 {

}
.portfolio-title-2 {

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-name-2 {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-3 {

}
.portfolio-title-3 {

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-name-3 {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-4 {
margin-left: 14px;
}
.portfolio-title-4 {
    margin-left: 14px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-name-4 {
    margin-left: 14px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-5 {

}
.portfolio-title-5 {

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-name-5 {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-6 {

}
.portfolio-title-6 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-name-6 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575; 
}
.portfolio-work-7 {

}
.portfolio-title-7 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121; 
}
.portfolio-name-7 {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-8 {

}
.portfolio-title-8 {

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-name-8 {
margin-bottom: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-9 {
 
}
.portfolio-title-9 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-name-9 {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}

.adress-1 {
color: #FFFFFF;
text-decoration: none;
}
.adress-1:hover, .adress-1:focus {
    color: var(--text-color-3);
}
.mail-3 {
    font-family: 'Roboto';
    text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
cursor: pointer;
color: #757575;
}
.mail-3:hover, .mail-3:focus {
    color: var(--text-color-3)
}
.tel-3 {
    font-family: 'Roboto';
    text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
cursor: pointer;
color: #757575;
}
.tel-3:hover, .tel-3:focus {
    color: var(--text-color-3)
}


