body {
    font-family: 'Raleway', sans-serif;
}
footer {
    font-family: 'Roboto', sans-serif;
}
header {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Roboto', sans-serif;
}

.main-content {
    background-color: #2F303A;
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.business {
}
.button-1 {
} 
.web {
    font-weight: 700;
    font-size: 26px;
    line-height: 0.83px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.studio-1 {
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: #2196F3;
}

.portfolio-1 {
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: #212121;
}
.contacts-1 {
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: #212121;
}
.mail-1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.tel-1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #757575;
}
.logo-link .logo-header {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    letter-spacing: 0.03em;
}
.logo-link {
    color: #2196F3;
}
.logo-header {
    color: #000000;
}
.Peculiarities-1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.Peculiarities-2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.Peculiarities-3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.Peculiarities-4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.Peculiarities--1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
}
.Peculiarities--2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
}
.Peculiarities--3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
}
.Peculiarities--4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
}
.work {
    font-weight: 700;
font-size: 36px;
line-height: 1.16px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.work-1 {
}
.work-2 {
}
.work-3 {
}
.Team {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-1 {
}
.team-2 {
}
.team-3 {
}
.team-4 {

}
.Team-1 {
}
.Team-2 {
}
.Team-3 {
}
.Team-4 {
}
.profession-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.profession-2 {
    position: absolute;
width: 147px;
height: 19px;
left: 577px;
top: 1951px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.profession-3 {
    position: absolute;
width: 76px;
height: 19px;
left: 912px;
top: 1951px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.profession-4 {
    position: absolute;
width: 87px;
height: 19px;
left: 1207px;
top: 1951px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.adress-1 {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    background: #2F303A;;
}



.mail-2 {
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: #2196F3;
}
.portfolio-2 {
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: #2196F3;
}
.studio-2 {
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: #212121;
}
.contacts-2 {
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: #212121;
}
.tel-2 {
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: #757575;
}
.button-2 {
}
.button-3 {
}
.button-4 {
}
.button-5 {
}
.button-6 {

}
.portfolio-work-1 {
}
.Work-1 {
font-weight: 700;
font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
color: #212121;
}
.Name-1 {
font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-2 {
}
.Work-2 {
font-weight: 700;
font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
color: #212121;
}
.Name-2 {
font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-3 {
}
.Work-3 {
font-weight: 700;
font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
color: #212121;
}
.Name-3 {
font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-4 {
}
.Work-4 {
font-weight: 700;
font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
color: #212121;
}
.Name-4 {
font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-5 {
}
.Work-5 {
font-weight: 700;
font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
color: #212121;
}
.Name-5 {
font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-6 {
}
.Work-6 {
font-weight: 700;
font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
color: #212121;
}
.Name-6 {
font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-7 {
}
.Work-7 {
font-weight: 700;
font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
color: #212121;
}
.Name-7 {
font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-8 {
}
.Work-8 {
font-weight: 700;
font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
color: #212121;
}
.Name-8 {
font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-work-9 {
}
.Work-9 {
font-weight: 700;
font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
color: #212121;
}
.Name-9 {
font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;
color: #757575;
}
.adress-2 {
    position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 1628px;
background: #2F303A;
}


