/* Text-color */

:root {
    --text-color-1: #212121;
}
:root {
    --text-color-2: #FFFFFF;
}
:root {
    --text-color-3: #2196F3;
}
:root {
    --text-color-4: #000000;
}
:root {
    --text-color-5: #757575;
}


/*color*/
:root {
    --color-5: #188CE8;
}

:root {
    --color-1: #2196F3;
}
:root {
    --color-2: #EEEEEE;
}
:root {
    --color-3: #ECECEC;
}
:root {
    --color-4: #FFFFFF;
}

/*BackGround-color*/

:root {
    --background-color-1: #F5F4FA;
}
:root {
    --background-color-2: #2F303A;
}
:root {
    --background-color-3: #FFFFFF;
}


/* =====icon-color===== */
:root {
    --icon-color-1: #AFB1B8;
}